name: Docker Image CI for GHCR

on:
  push

jobs:
  build_and_publish:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout GitHub Action'
        uses: actions/checkout@main
      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GH_PAT }}
      - name: Build Inventory Image
        run: |
          docker build . --tag ghcr.io/nguyenvanhadncntt/push-dockerhub-image:latest
          docker push ghcr.io/nguyenvanhadncntt/push-dockerhub-image:latest
        # uses: docker/build-push-action@v3
        # with:
        #   context: ./
        #   push: true
        #   tags: ghcr.io/nashtech-garage/yas-cart:latest